$header-color: #444;
$navbar-light-color:                rgba($header-color, .5) !default;
$navbar-light-hover-color:          rgba($header-color, .7) !default;
$navbar-light-active-color:         rgba($header-color, .9) !default;

$features-background: #f8f9fa;
$primary: #3E97C4;
$steps-color: #a9c4dd;
